.cartegoryBtn{
	-fx-font-family: "NanumGothic";
	-fx-font-size:17.0;
}
.bookLabel{
	-fx-font-family: "NanumGothic";
	-fx-font-size:14;
}
TextField{
	-fx-background-color:white;
}
HBox{
	-fx-background-color:#FDF0E4;
}
.Btn{
	-fx-font-family: "NanumGothic";
	-fx-background-color:#a79c8e;
}