AnchorPane{
	-fx-background-color:#f8ecc9;
	
}

Button{
	-fx-background-color:#a79c8e;
	-fx-font-family: "NanumGothic";
	-fx-text-fill: gray;
}
.textLabel{
	
	-fx-font-family: "NanumGothic";
}



.logo{
	-fx-text-fill: #724694;
}
.textField{
	-fx-background-color:white;
}
.cmb{
	-fx-background-color:white;
}