AnchorPane{
	-fx-background-color:#FDF0E4;
}
HBox{
	-fx-background-color:#FDF0E4;
}
.vBox{
	-fx-background-color:#FDF0E4;
}
.btnLogin{
	-fx-background-color:#a79c8e;
	-fx-font-family: "NanumGothic";
}
.textLabel{
	-fx-font-family: "NanumGothic";
}


.logo{
	-fx-text-fill: #724694;
}
.textField{
	-fx-background-color:white;
	-fx-font-family: "NanumGothic";
}
.cmb{
	-fx-background-color:white;
}

.etcLabel{
	-fx-font-family: "NanumGothic";
}

.btnAll{
	-fx-background-color:#F2887E;
	-fx-background-radius: 10;
	-fx-border-color:#A65D56;
	-fx-border-radius: 10;
	-fx-font-family: "NanumGothic";
}