AnchorPane{
	-fx-background-color:#f8ecc9;
	
}

Button{
	-fx-background-color:#a79c8e;
	-fx-font-family: "NanumGothic";
	-fx-text-fill: gray;
}
.text:clicked{
	-fx-text-fill:white;
	-fx-font-family: "NanumGothic";
}
